* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body{
	font-family: Verdana, Geneva, sans-serif;
	background-size: cover;
	background-image: url(Carpark.jpg);
}

body#newbody{
	font-family: Verdana, Geneva, sans-serif;
	background-size: cover;
	background-color: black;
	background-image: none;
}

header{
	background-image: url(footer_lodyas.png);
	font-size: 30px;

	text-align:center;
	padding: 20px;
	color: white;
}

header#home{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
div.container{
	background-color: rgba(100, 100, 100, 0.75);
    text-align:center;
	width: 800px;
	height: 400px;
	margin: 130px auto;
}

div.new_container{
	background-color: rgba(100, 100, 100, 0.75);
    text-align:center;
	width: 800px;
	height: 400px;
	margin: 250px auto 150px auto;
	position: relative;
}

.button {
	background-color: #6495ED;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;
	transition: all .2s ease-in-out;
	line-height: 50px;
}

.button:hover{
	transform: scale(1.1);
}

.bon2 {
	background-color: #4997D0;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;
	transition: all .2s ease-in-out;
	line-height: 50px;
}
.bon2:hover{
	transform: scale(1.1);
}

.bon3 {
	background-color: #1560BD;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;
	transition: all .2s ease-in-out;
	line-height: 50px;
}
.bon3:hover{
	transform: scale(1.1);
}

.bon4 {
	background-color: #0077BE;
	border-radius: 15px;
	color: #0077BE;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;
	transition: all .2s ease-in-out;
	line-height: 50px;
}
.bon4:hover{
	transform: scale(1.1);
}


#headbutton{
	width: 600px;
	margin: 0 auto;
}

/*Hover and current page colour*/
.hbutton{
	background-color: #72B7F1;
	border-radius: 15px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

footer {
	background-image: url(footer_lodyas.png);
	color: white;
	text-align: center;
	margin-top: 20px;
	padding: 30px 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#login-info{
	margin-top: 30px;
	font-size: 18px;
}

#f1{
	background-color: rgba(100, 100, 100, 0.75);
	border-radius: 20px;
	border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
	width: 600px;
	margin: 0 auto;
}

#f1 td{
	text-align: left;
}

#login_form{
	margin-top: -50px;
}

.title{
	margin-top: 100px;
	text-align: center;
	color: white;
}

table{
	margin: 0 auto;
}

.table_style{
	background-color: rgba(100, 100, 100, 0.75);
	border-radius: 20px;
	border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
	width: 500px;
	margin: 0 auto;
}

p{
	width: 600px;
	margin: 0 auto;
	color: white;
}

h2{
	color: white;
	text-align:center;
	margin-bottom:10px;
	margin-top: 10px;


}

h3{
	color: white;
	margin-top: 15px;
	text-align:center;
}

td{
	color:white;
	padding-left:5px;
}

th{
	color:white;
	text-align:center;
}

input[type=submit]{
	background-color: #4997D0;
	border-radius: 15px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px;
}


button[type=button]{
	background-color: #4997D0;
	border-radius: 15px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px;
}


#big_container {
	width: 800px;
	margin: 0px auto 80px auto;
}

#visitor {
	width: 800px;

	margin: 0px auto;
}


nav{
	margin-top: 10px;
	margin-left: 20px;
	overflow: hidden;
}

nav#ac-header {
	margin-left: 75px;;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
	background-color: #1560BD;
	margin: 2px;
	border-radius: 5px 5px 5px 5px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Change the link color to on hover */
nav li a:hover {
    background-color: #4997D0;
	border-radius: 5px 5px 5px 5px;
}

/* Changes the button color depending on the page */
.active{
	background-color:#4997D0;
	color: white;
}

#rules	{
	margin: 0px auto;
}

#acpage-container{
	color: white;
	text-align: center;
	margin-bottom: 200px;
}

#notification-panel{
	clear: both;
	width: 620px;
	height: 150px;
	margin: 10px auto 20px auto;
	overflow: auto;
}

#notification-panel table{
	margin: 5px auto;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
	background-color: rgba(100, 100, 100, 0.75);
	table-layout:fixed;
	word-wrap: break-word;
}
#notification-panel tr td {
	border: 2px solid white;
}

#notification-panel table td {
	padding: 3px;
}
#notification-panel table tr .message{
	width: 480px;
}


#ac{
	width: 810px;
	margin: 0 auto;
}
#ac-table{
	width: 800px;
	padding: 5px;
    text-align: left;
	background-color: rgba(100, 100, 100, 0.75);
	color: black;
	table-layout:fixed;
}

#table-scroll {
	margin: 0px auto;
	height: 400px;
	width: 850px;
	overflow: auto;
	padding-top: 20px;
}
#ac-table, #ac-table th,#ac-table td{
	border: 2px solid white;
    border-collapse: collapse;
}
#ac-table th, #ac-table td{
	padding: 4px;
    text-align: center;
	width: 150px;
}
#ac-table caption{
	font-size: 18px;
	color: white;
	margin-bottom: 3px;
}
#ac-table th {
	/*This is the ugly blue shade to be changed to the grey*/
	-moz-box-shadow: 0px 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 0px 2px #646464;
	box-shadow: 0px 0px 0px 2px #646464;
	background-color:#1560BD;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0px 1px 0px #646464;
}

.search {
	margin-left: 25px;
}
.search tr td {
	padding: 2px;
}
.search #permit input[type=text], #ac-table th#permit {
	width: 100px;
}
.search #date input[type=text], #ac-table th#date {
	width: 120px;
}
.search #search-type, #ac-table th#type {
	width: 140px;
	margin: 0px 2px;
}
.search #search-duration, #ac-table th#duration {
	width: 100px;
	margin: 0px 2px;
}
.search #search-status, #ac-table th#status {
	width: 100px;
	margin: 0px 2px;
}
#ac-table th#payment {
	width: 100px;
}
#ac-table a.payment {
	display: block;
	text-decoration : none;
	-moz-box-shadow: 0px 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 0px 2px #646464;
	box-shadow: 0px 0px 0px 2px #646464;
	background-color:#1560BD;
	cursor:pointer;
	text-shadow:0px 1px 0px #646464;
	color: white;
}

#account-bar {
	width: 750px;
	margin: 20px auto 50px auto;
	color: white;
}

#name {
	float: left;

}

#profile {
	float: right;

}

#profile a{
	color: #1560BD;
}

#apply_button{
	margin: 30px auto auto 120px;
	list-style-type: none;
}

#apply_button ul {

    margin: 0;
    overflow: hidden;
}

#apply_button li {
    float: left;
	background-color: #72B7F1;
	margin: 2px;
	border-radius: 5px 5px 5px 5px;
}

#apply_button li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#apply_button li a:hover {
    background-color: #409BE8;
	border-radius: 5px 5px 5px 5px;
}

#apply_button li a{
	padding: 14px 200px;
}

#ac_apply{
	width: 800px;
	margin: 10px auto;
}



.rules table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.rules td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.rules tr:nth-child(even) {
    background-color: #dddddd;
}






.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url(Carpark.jpg); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url(liverpool.jpg);
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url(car3.jpg);
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url(car2.jpg);
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url(car1.jpg);
}
 @keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}

/*#violation_selection{
	margin-top: 20px;
	margin-left: -12px;
}

#violation_selection select{
	font-size: 18px;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.8);
}*/


#area_selection{
	margin: 15px auto 0px auto;
	width:805px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

ul.tab li {
	float: left;
	background-color: #007BBB;
	margin: 5px 5px;
	border-radius: 5px;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	color: white;
}

ul.tab li a:hover {
	background-color: #4997D0;
	border-radius: 5px;
}

ul.tab li a:focus, .active {
	background-color: #4997D0;
	border-radius: 5px;

}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
		/*Uglt colour again*/
	background-color: rgba(197, 215, 249, 0.5);
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.onclick-menu {
    position: relative;
    display: block;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6495ED), color-stop(1, #1560BD));
	background:-moz-linear-gradient(top, #6495ED 5%, #1560BD 100%);
	background:-webkit-linear-gradient(top, #6495ED 5%, #1560BD 100%);
	background:-o-linear-gradient(top, #6495ED 5%, #1560BD 100%);
	background:-ms-linear-gradient(top, #6495ED 5%, #1560BD 100%);
	background:linear-gradient(to bottom, #6495ED 5%, #1560BD 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6495ED', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.onclick-menu-content {
	list-style: none;
}

.onclick-menu:before {
    content: "Edit";
	color: white;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;

}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
.onclick-menu-content button {
	width: 70px;
	padding: 5px 0px;
	font-size: 14px;
	background-color: #72B7F1;
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	cursor:pointer;
}




.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 550px;
	position: relative;
	transition: all 1s ease-in-out;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #72B7F1;
}
.popup .popup-content {
	margin-top: 20px;
	color: black;
	max-height: 30%;
	overflow: auto;
}
@media screen and (max-width: 800px){
  .popup{
    width: 80%;
  }
}
.popup .popup-left {
	float: left;
	text-align: right;
	width: 250px;
	line-height:150%;
}
.popup .popup-right {
	float: left;
	text-align: left;
	width: 250px;
	padding-left: 50px;
	line-height:150%;
}



.main {
	margin: 60px auto 0px auto;
}
.main textarea {
	margin-top: 10px;
	resize: none;
}
.main .textbox {
	width: 400px;
}

#notice{
	position: absolute;
	right: 0px;
	width: 250px;
	background-color: #0077BE;
	opacity: 1;
	padding: 8px;
	word-wrap: break-word;
	color: white;
	border-radius: 20px 20px;
}
#notice i {
	font-size: 18px;
}
#notice input[type=submit] {
	background-color: #4997D0;
	border-radius: 15px;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px 10px 27px;
}


.notice-popup {
	animation: comeout 0.3s forwards ease-in-out,
             movingin 0.3s forwards ease-in-out;
}
.notice-close {
	animation: closing 0.3s forwards ease-in-out,
             moving 0.3s forwards ease-in-out;
}

@keyframes closing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes moving {
  0% { top: 170px; right: 0px; }
  100%  { top: 0px; right: 0px; }
}
@keyframes comeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes movingin {
  0% { top: 0px; right: 0px; }
  100%  { top: 170px; right: 0px; }
}


table.sortable thead {
    cursor: default;
}

#popup-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 400px auto;
	width: 250px;
	height: 100px;
	background: #fff;
	color: black;
	border-radius: 20px;
	padding: 20px;
}
.popup-box-open {
	animation: comeout 0.1s forwards ease-in-out,
             open 0.1s forwards ease-in-out;
}
.popup-box-close {
	animation: closing 0.1s forwards ease-in-out,
             close 0.1s forwards ease-in-out;
}
@keyframes open {
  0% { width: 0px;	height: 0px; }
  100%  { width: 250px; height: 100px; }
}
@keyframes close {
  0% { width: 250px; height: 100px; }
  100%  { width: 0px;	height: 0px; }
}
.popup-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
}
.popup-overlay-close {
	visibility: hidden;
	opacity: 0;
}
.popup-button {
	background-color: #1560BD;
	border-radius: 15px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 20px auto 0px auto;
	transition: all .2s ease-in-out;
	cursor: pointer;
	padding: 5px 20px;
}
.popup-button:hover{
	background-color: #4997D0;
}

#account-bar a{
	background-color: #1560BD;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: all .2s ease-in-out;
	cursor: pointer;
	padding: 2px 5px;
}
#account-bar a:hover{
	background-color: #4997D0;
}