* {
	margin: 0;
	padding: 0;
}

body{	
	font-family: Verdana, Geneva, sans-serif;
	background-image: url(Carpark.jpg);
	background-size: cover;
}


header{
	background-image: url(footer_lodyas.png);
	font-size: 40px;
	text-align:center;
	padding: 45px;
	color: white;
}

div.container{
	background-color: rgba(179, 209, 226, 0.3);
    text-align:center;
	width: 800px;
	height: 400px;
	margin: 130px auto;
	border-radius: 20px;	
}

.button {
	background-color: #72B7F1;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;

}

.bon2 {
	background-color: #409CF8;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px;

}

.bon3 {
	background-color: #99D8D8;
	border-radius: 15px;
	color: white;
	padding: 25px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 25px 7px auto;
	height: 50px

}
#headbutton{
	margin-top: 10px;
	margin-left: 300px;
}

.hbutton{
	background-color: #4CAF50;
	border-radius: 15px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

footer {
	background-image: url(footer_lodyas.png);
	color: white;
	text-align: center;
	margin-top: 20px;
	padding: 30px 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#login-info{
	margin-top: 30px;
	font-size: 18px;
}

#f1{
	background-color: rgba(197, 215, 249, 0.5);
	border-radius: 20px;
	border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
	width: 500px;
	margin: 0 auto;
}

#login_form{
	margin-top: -50px;
}

.title{
	margin-top: 100px;
	text-align: center;
	color: white;
}

table{
	margin: 0 auto;
}

.table_style{
	background-color: rgba(197, 215, 249, 0.5);
	border-radius: 20px;
	border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
	width: 500px;
	margin: 0 auto;
}

/* TEXT FORMATTING */
p{
	width: 600px;
	margin: 0 auto;
	color: white;
}

h2{
	color: white;
	text-align:center;
	margin-bottom:10px;
	margin-top: 10px;
	
	
}

h3{
	color: white;
	margin-top: 15px;
	text-align:center;
}

td{
	color:white;
	padding-left:5px;
}

th{
	color:white;
	text-align:center;
}

input[type=submit]{
	background-color: #4CAF50;
	border-radius: 15px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px;
}


button[type=button]{
	background-color: #4CAF50;
	border-radius: 15px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px;
}

#visitor {
	width: 800px;
	margin: 0px auto;
}

nav{
	margin: 10px;
	overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;    
}

li {
    float: left;
	background-color: #72B7F1;
	margin: 2px;
	border-radius: 5px 5px 5px 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Change the link color to on hover */
li a:hover {
    background-color: #409BE8;
	border-radius: 5px 5px 5px 5px;
}

/* Changes the button color depending on the page */
.active{
	background-color:#409BE8;
	color: white;
}

#acpage-container{
	color: white;
	text-align: center;
}

#notification-panel{
	width: 600px;
	height: 100px;
	background-color: rgba(156, 192, 214, 0.8);
	margin: 10px auto;
	border-radius: 20px 20px;
}

#ac{
	width: 680px;
	margin: 0px auto;
}

#ac-table{
	margin-top: 20px;
	width: 700px;
	padding: 5px;
    text-align: left;
	background-color: rgba(192, 205, 224, 0.8);
	color: black;
}

#ac-table, #ac-table th,#ac-table td{
	border: 2px solid white;
    border-collapse: collapse;
}

#ac-table th, #ac-table td{
	padding: 5px;
    text-align: left;
}

#ac-table caption{
	font-size: 18px;
	color: white;
	margin-bottom: 3px;
}

#profile a{
	color: #33AA61;
}
































