<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="static/style.css">

	<style>
		footer {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	</style>

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id="big_container">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/permit">Apply for a permit</a>
				</li>
				<li class="active">
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>

		<div id="login_form">
			<div class="title"><h3>Check permit status or pay fine</h3><br></div>
				<form name="f1" method="post" action="" id="f1">
					<table>
						<tr>
							<td class="f1_label">Permit Number :</td>
							<td>
								<input type="text" name="number" maxlength="9" pattern="\d{9}" oninvalid="setCustomValidity('Please enter exactly 9 digits.')" oninput="setCustomValidity('')" title="Please enter exactly 9 digits." value="" required />
						</tr>
						<tr>
							<td>
								<a href="/visitor"><button type="button">Cancel</button></a>
							</td>
							<td>
								<input type="submit" name="Ok" value="Ok"  />
							</td>
						</tr>

					</table>
					<table>
						<tr>
							<td>
								<a href="/forgot_number">forgot permit number?</a>
							</td>
						</tr>
					</table>
				</form>
				{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}
				{% endif %}

				{% if success %}
				<p class="success"><strong>{{ success }}</strong>
				{% endif %}

		</div>
		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>
