<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="static/style.css">
	
		<style>
			footer {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>

	</head>

	<body>
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>
		<div id="big_container">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/permit">Apply for a permit</a>
				</li>
				<li class="active">
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>
		
			<div id="login_form">
				<div class="title">Forgot Permit Number</div>  
					<form name="f1" method="post" action="" id="f1">
						<table>
							<tr>
								<td class="f1_label">Email :</td> 
								<td>
									<input type="email" name="email" value="" required /></td>
							</tr>
							<tr>
								<td>
									<input type="submit" name="Ok" value="Ok"  />
								</td>
								<td>
									<a href="/check_status"><button type="button">Cancel</button></a>
								</td>
							</tr>
							
						</table>
					</form>
					{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}
					{% endif %}
					
					{% if success %}
					<p class="success"><strong>{{ success }}</strong> </p>
					{% endif %}
				
		</div>
		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>