<!DOCTYPE html>
<html>
  <head>

	<link rel="stylesheet" type= "text/css" href="/static/style.css">
    <title>Atmiya College Parking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

	<body>
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>
		<div id = "ac">
			<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/hs_main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/hs_permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li class="active">
							<a href="/hs_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
							<a href="/report_violations/{{email}}">Violation</a>
						</li>
						<li>
							<a href="/notification/{{email}}">Notification</a>
						</li>
					</ul>
			</nav>
			</div>
				<div id="account-bar">
					<div id="name">
					{{ first }} {{ last }}
					</div>

					<div id="profile">
					{{ email }} <a href="/">Log out</a>
					</div>
				</div>


    <h3 style="font-family:Helvetica">General Health and Safety Rules Overview</h3>

	<div
	style="
		height:500px;
		width:700px;
		font:16px/26px Georgia, Garamond, Serif;
		overflow:auto;
		background-color:rgba(100, 100, 100, 0.75);
		border-radius: 15px;
		padding-top: 15px;
		" id="rules">

		<p style="font-family:'Helvetica'">
		Management applies the principles of risk management in all activities related to building or maintaining the built environment at Atmiya College. We aim to provide a safe and healthy environment for all persons who come on campus, as far as reasonably practicable. In doing so, we assess the problems as they are reported to us and those that we identify through our own information systems and then apply the hierarchy of control to determine the best control options to manage those hazards.
		</p>
		<br>
		<p style="font-family:'Helvetica'">
		We also enforce a no smoking policy for the safety and comfortability of all patrons on campus.
		</p>
		<br>
		<p style="font-family:'Helvetica'">
		This document abides by the Work Health and Safety Act 2011.
		</p>
		<br>

		<h3 style="font-family:Helvetica">Hazards</h3>

		<p style="font-family:'Helvetica'">
		Below is a list of identified hazards that are possible at Atmiya College:
		</p>

		<table border=1px bordercolor="gray" >
			<tr><td><p style="font-family:'Helvetica'">
			Asbestos;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Built Environment;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Confined Spaces;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Construction;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Electrical Safety;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Event Safety;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Hazardous Chemicals;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			High Risk Activities;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Hot Work;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Plant and Equipment; and
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Roof Work or Work at Heights.
			</p></td></tr>
		</table>

		<!-- NEED TO PUT UNORDERED LIST HERE -- STRUGGLING BECAUSE OF NAVIGATION -->


		<h3 style="font-family:Helvetica"> Reporting </h3>

		<p style="font-family:'Helvetica'">
		If someone is to see or be part of one of the above hazards, it must be reported in the following manner:
		</p>

		<table border=1px bordercolor="gray">
			<tr><td><p style="font-family:'Helvetica'">
			Incident and Injury Reporting -> to immediate supervisor of the department;</p>
			<table border=1px bordercolor="gray">
				<tr><td>If the incident resulted in or had potential to result in death, serious injury or illness to a person or another potentially serious matter it should be reported directly -> to the health and safety department;
				</td></tr>
			</table>
			</td></tr>


			<tr><td><p style="font-family:'Helvetica'">
			Report urgent highly unsafe situations -> to the health and safety department;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Report workplace hazards -> to department supervisors; and
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Log non-emergency jobs -> via the Atmiya College parking and health website for building fixtures/faults etc. air con faults, lighting problems, leaking taps, broken door locks or power point switch.
			</p></td></tr>

		</table>


		<h3 style="font-family:Helvetica"> No Smoking Policy </h3>

		<p style="font-family:'Helvetica'">
		Atmiya College has a no smoking policy to provide staff, students and visitors with a productive, safe and healthy working and learning environment. This decision came as a result of well-established findings that show evidence of tobacco related harm to health and well-being.
		</p>
		<br>
		<p style="font-family:'Helvetica'">
		Smoking is defined as the inhalation and exhalation of the smoke of burning tobacco, herbs or drugs. This also includes e-cigarettes, e-cigars, vapour pens or personal vapour. Any staff, student or visitor who smokes on campus will be approached by patrol force employees and will be issued with a smoking violation. This violation will be issued to the violator with the citation code S01.
		</p>

		<h3 style="font-family:Helvetica"> First Aid </h3>

		<p style="font-family:'Helvetica'">
		First aid facilities and personnel are available on campus to account for the aforementioned hazards. If an incident occurs that requires first aid, the health and safety department should be notified and they will send someone to administer first aid. The health and safety department is equipped to deal with all issues including:
		</p>

		<table border=1px bordercolor="gray">
			<tr><td><p style="font-family:'Helvetica'">
			Serious Medical Emergencies;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Other Emergencies; and
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			AEDs and Cardiac Arrest.
			</p></td></tr>

		</table>

		<h3 style="font-family:Helvetica"> Fire and Evacuation Procedures </h3>

		<table border=1px bordercolor="gray">
			<tr><td><p style="font-family:'Helvetica'">
			If you discover a fire inside a building: remain calm;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Raise the alarm;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Collect any immediate possessions;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Leave the building by the most direct, marked, exit route. DO NOT USE LIFTS. DO NOT RUN;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Proceed to the assembly area designated for that building;
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Obey instruction from wardens, security officers and emergency personnel; and
			</p></td></tr>

			<tr><td><p style="font-family:'Helvetica'">
			Do not return to an evacuated building until the all clear is given.
			</p></td></tr>

		</table>

	</div>



	<footer>
		&copy; 2016 Team84
	</footer>
  </body>
</html>
