<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type= "text/css" href="/static/style.css">

    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
		
		
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>
		
		
    <div id="acpage-container">

			<div id = "ac">
			<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active">
							<a href="/hs_main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/hs_permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/hs_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
							<a href="/report_violations/{{email}}">Violation</a>
						</li>
						<li>
							<a href="/notification/{{email}}">Notification</a>
						</li>
					</ul>
			</nav>
			</div>
				<div id="account-bar">
					<div id="name">			
					{{ first }} {{ last }}
					</div>
					
					<div id="profile">
					{{ email }} <a href="/">Log out</a>	
					</div>
				</div>

					<caption>Permit and Violation Overview</caption>
					<div id="table-scroll">
					<table id="ac-table" class="sortable">
							<thead>
							<tr>
								<th class>Person</th>
								<th class>Date</th>
								<th class>Item</th>
								<th class>Status</th>
							</tr>
							</thead>
							<tbody>
							{% for i in range(x['date']|count) %}
								<tr>
									<td>{{ x['people'][i] }}</td>
									<td>{{ x['date'][i] }}</td>
									<td>{{ x['issue'][i] }}</td>
									<td>{{ x['status'][i] }}</td>
								</tr>
							{% endfor %}
							</tbody>
					</table>
					</div>
    </div>
		
		<footer>
			&copy; 2016 Team84
		</footer>
		<script src="/static/sorttable.js"></script>
  </body>
</html>