<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type= "text/css" href="/static/style.css">

    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body>
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>
		
    <div id="acpage-container">
				
			<div id = "ac">
			<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/hs_main/{{email}}">Account</a>
						</li>
						<li class="active">
							<a href="/hs_permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/hs_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
							<a href="/report_violations/{{email}}">Violation</a>
						</li>
						<li>
							<a href="/notification/{{email}}">Notification</a>
						</li>
                    </ul>
			</nav>
				<div id="account-bar">
					<div id="name">			
					{{ first }} {{ last }}
					</div>
					
					<div id="profile">
					{{ email }} <a href="/">Log out</a>	
					</div>
				</div>
				<caption>Permit Permit Overview</caption>
			<div id="table-scroll">
			<table class="search">
				<tr>
					<td id="permit">
						<input type="text" id="search-permit" onkeyup="permit()" placeholder="Search for permit.." title="Type in a permit" pattern="\d{9}" maxlength="9">
					</td>
					<td id="date">
						<input type="text" id="search-start" onkeyup="start()" placeholder="Search for start date.." title="Type in a date">
					</td>
					<td id="date">
						<input type="text" id="search-end" onkeyup="end()" placeholder="Search for end date.." title="Type in a date">
					</td>
					<td>
						<select id="search-type" onchange="type2()">
							<option value="">[show all]</option>
							<option value="Two Wheeler">Two Wheeler</option>
							<option value="Four Wheeler">Four Wheeler</option>
							<option value="other">other</option>
						</select>
					</td>
					<td>
						<select id="search-duration" onchange="duration()">
							<option value="">[show all]</option>
							<option value="Yearly">Yearly</option>
							<option value="Monthly">Monthly</option>
							<option value="Daily">Daily</option>
							<option value="Hourly">Hourly</option>
						</select>
					</td>
					<td>
						<select id="search-status" onchange="status()">
							<option value="">[show all]</option>
							<option value="Approved">Approved</option>
							<option value="Processing">Processing</option>
							<option value="Rejected">Rejected</option>
							<option value="Paid">Paid</option>
						</select>
					</td>
				</tr>
			</table>
            <table id="ac-table" class="sortable">
                    <thead>
                    <tr>
                        <th id="permit" class>Permit</th>
                        <th id="date" class>Start Date</th>
                        <th id="date" class>End Date</th>
                        <th id="type" class>Vehicle Type</th>
                        <th id="duration" class>Duration</th>
						<th id="status" class>Status</th>
                    </tr>
					</thead>
					<tbody>
						{% for i in range(x['number_l']|count) %}
							<tr>
								<td>{{ x['number_l'][i] }}</td>
								<td>{{ x['start_l'][i] }}</td>
								<td>{{ x['end_l'][i] }}</td>
								<td>{{ x['type_l'][i] }}</td>
								<td>{{ x['duration_l'][i] }}</td>
								<td>{{ x['status_l'][i] }}</td>
								<td class="edit">
									<div tabindex="0" class="onclick-menu">
										<ul class="onclick-menu-content">
											<li><a href="#popup{{ x['number_l'][i] }}"><button>View</button></a></li>
											{% if  x['status_l'][i]  == "Approved" %}
												<li><a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button>Reject</button></a></li>
												<li><a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button>Delete</button></a></li>
											{% endif %}
											
											{% if  x['status_l'][i]  == "Processing" %}
												<li><a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button>Approve</button></a></li>
												<li><a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button>Reject</button></a></li>
												<li><a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button>Delete</button></a></li>
											{% endif %}
											
											{% if  x['status_l'][i]  == "Rejected" %}
												<li><a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button>Approve</button></a></li>
												<li><a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button>Delete</button></a></li>
											{% endif %}
											
											{% if  x['status_l'][i]  == "Paid" %}
												<li><a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button>Approve</button></a></li>
												<li><a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button>Reject</button></a></li>
												<li><a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button>Delete</button></a></li>
											{% endif %}
										</ul>
									</div>
								</td>
							</tr>
							
							
							
							<div id="popup{{ x['number_l'][i] }}" class="overlay">
								<div class="popup">
									<a class="close" href="#">&times;</a>
									<div class="popup-content">
										<b>Permit Status</b>
										<br><br>
										<div class="popup-left">
											First Name :<br>
											Last Name :<br>
											Email :<br>
											Duration :<br>
											Vehicle Type :<br>
											Department :<br>
											Permit Start Date :<br>
											Permit End Date :<br>
											Permit Number :<br>
											Status :
										</div>
										<div class="popup-right">
											{{ x['first_l'][i] }}<br>
											{{ x['last_l'][i] }}<br>
											{{ x['email_l'][i] }}<br>
											{{ x['duration_l'][i] }}<br>
											{{ x['type_l'][i] }}<br>
											{{ x['department_l'][i] }}<br>
											{{ x['start_l'][i] }}<br>
											{{ x['end_l'][i] }}<br>
											{{ x['number_l'][i] }}<br>
											{{ x['status_l'][i] }}
										</div>
									</div>
									<br>
									{% if  x['status_l'][i]  == "Approved" %}
										<a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button type="button">Reject</button></a>
										<a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button type="button">Delete</button></a>
									{% endif %}
									
									{% if  x['status_l'][i]  == "Processing" %}
										<a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button type="button">Approve</button></a>
										<a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button type="button">Reject</button></a>
										<a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button type="button">Delete</button></a>
									{% endif %}
									
									{% if  x['status_l'][i]  == "Rejected" %}
										<a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button type="button">Approve</button></a>
										<a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button type="button">Delete</button></a>
									{% endif %}
									
									{% if  x['status_l'][i]  == "Paid" %}
										<a href="/approve/{{email}}/{{ x['number_l'][i] }}"><button type="button">Approve</button></a>
										<a href="/reject/{{email}}/{{ x['number_l'][i] }}"><button type="button">Reject</button></a>
										<a href="/delete/{{email}}/{{ x['number_l'][i] }}"><button type="button">Delete</button></a>
									{% endif %}
								</div>
							</div>

						{% endfor %}
						</tbody>
            </table>
				
			
			</div>

    </div>
		
		<footer>
			&copy; 2016 Team84
		</footer>
		<script src="/static/sorttable.js"></script>
		<script>
		
		function permit() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-permit");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
				  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				  } else {
					tr[i].style.display = "none";
				  }
				}
			}
			if (document.getElementById("search-permit").value != "") {
				document.getElementById("search-start").disabled = true;
				document.getElementById("search-end").disabled = true;
				document.getElementById("search-type").disabled = true;
				document.getElementById("search-duration").disabled = true;
				document.getElementById("search-status").disabled = true;
			}
			else {
				document.getElementById("search-start").disabled = false;
				document.getElementById("search-end").disabled = false;
				document.getElementById("search-type").disabled = false;
				document.getElementById("search-duration").disabled = false;
				document.getElementById("search-status").disabled = false;
			}
		}
		function start() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-start");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[1];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
			if (document.getElementById("search-start").value != "") {
				document.getElementById("search-permit").disabled = true;
				document.getElementById("search-end").disabled = true;
				document.getElementById("search-type").disabled = true;
				document.getElementById("search-duration").disabled = true;
				document.getElementById("search-status").disabled = true;
			}
			else {
				document.getElementById("search-permit").disabled = false;
				document.getElementById("search-end").disabled = false;
				document.getElementById("search-type").disabled = false;
				document.getElementById("search-duration").disabled = false;
				document.getElementById("search-status").disabled = false;
			}
		}
		function end() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-end");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[2];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		  	if (document.getElementById("search-end").value != "") {
				document.getElementById("search-permit").disabled = true;
				document.getElementById("search-start").disabled = true;
				document.getElementById("search-type").disabled = true;
				document.getElementById("search-duration").disabled = true;
				document.getElementById("search-status").disabled = true;
			}
			else {
				document.getElementById("search-permit").disabled = false;
				document.getElementById("search-start").disabled = false;
				document.getElementById("search-type").disabled = false;
				document.getElementById("search-duration").disabled = false;
				document.getElementById("search-status").disabled = false;
			}
		}
		function type2() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-type");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[3];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		  	if (document.getElementById("search-type").value != "") {
				document.getElementById("search-permit").disabled = true;
				document.getElementById("search-start").disabled = true;
				document.getElementById("search-end").disabled = true;
				document.getElementById("search-duration").disabled = true;
				document.getElementById("search-status").disabled = true;
			}
			else {
				document.getElementById("search-permit").disabled = false;
				document.getElementById("search-start").disabled = false;
				document.getElementById("search-end").disabled = false;
				document.getElementById("search-duration").disabled = false;
				document.getElementById("search-status").disabled = false;
			}
		}
		function duration() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-duration");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[4];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		  	if (document.getElementById("search-duration").value != "") {
				document.getElementById("search-permit").disabled = true;
				document.getElementById("search-start").disabled = true;
				document.getElementById("search-end").disabled = true;
				document.getElementById("search-type").disabled = true;
				document.getElementById("search-status").disabled = true;
			}
			else {
				document.getElementById("search-permit").disabled = false;
				document.getElementById("search-start").disabled = false;
				document.getElementById("search-end").disabled = false;
				document.getElementById("search-type").disabled = false;
				document.getElementById("search-status").disabled = false;
			}
		}
		function status() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search-status");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("ac-table");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[5];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		  	if (document.getElementById("search-status").value != "") {
				document.getElementById("search-permit").disabled = true;
				document.getElementById("search-start").disabled = true;
				document.getElementById("search-end").disabled = true;
				document.getElementById("search-type").disabled = true;
				document.getElementById("search-duration").disabled = true;
			}
			else {
				document.getElementById("search-permit").disabled = false;
				document.getElementById("search-start").disabled = false;
				document.getElementById("search-end").disabled = false;
				document.getElementById("search-type").disabled = false;
				document.getElementById("search-duration").disabled = false;
			}
		}
		
		</script>
  </body>
</html>