<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="static/style.css">
		<style>
			footer {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>

	<div id="headbutton">
		<nav id= "ac-header">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
		</nav>
	</div>

		<div id="login_form">
			<div class="title"><h3>Staff/Student Login</h3><br>To login please use your university credentials.</div><br>

				<form name="f1" method="post" action="" id="f1">

					<table>
						<tr>
							<td class="f1_label">Email :</td>
							<td>
								<input type="email" name="email" value="{{ email }}" required/></td>
						</tr>
						<tr>
							<td class="f1_label">Password  :</td>
							<td>
								<input type="password" name="password" value=""  required/>
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" name="login" value="Log In"  />
							</td>
							<td>
								<a href="/forgot">forgot password?</a>
							</td>
						</tr>

					</table>
				</form>
				{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

		</div>
		</div>
		<footer>
		&copy; 2016 Team84
	</footer>
	</body>
</html>
