<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type= "text/css" href="/static/style.css">

    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
		{% if new_message %}
		<div id="notice" class="notice-popup" style="top: 170px;background-color:rgba(73, 152, 208, 0.8) ">
			<form method="post">
			<strong><i>{{notice_type}} Changes</i></strong>
			<br>
			<b>{{title}}</b>
			<br><br>
			{{ new_message }}
			<br>
			<div class="inputbox"><input type="submit" value="Agree and Continue" onclick="move()"></div>
			</form>
		</div>
		{% endif %}
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>

		<div id="acpage-container">

			<div id = "ac">
			<nav id="ac-header">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active">
							<a href="/main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/s_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
                        <a href="/notifpreferences/{{email}}">Settings</a>
						</li>
					</ul>
			</nav>
			</div>
				<div id="account-bar">
					<div id="name">
					{{ first }} {{ last }}
					</div>

					<div id="profile">
					{{ email }} <a href="/">Log out</a>
					</div>
				</div>

				<h3>Notifications</h3><br>
				<div id="notification-panel">
					<table>
					{% for i in range((y['message']|count)-4,(y['message']|count),) %}
						{% if i >=0 %}
						<tr>
							<td>{{ y['date2'][i] }}</td>
							<td class="message">{{ y['message'][i] }}</td>
						</tr>
						{% endif %}
					{% endfor %}
					{% if setting == "n" %}
					<tr><td style="text-align: center;">There is no notification.</td></tr>
					{% endif %}
					</table>
				</div>
					<table id="ac-table" class="sortable">
							<caption>Permit and Violation Overview</caption>
							<thead>
							<tr>
								<th class>Date</th>
								<th class>Item</th>
								<th class>Status</th>
							</tr>
							</thead>
							<tbody>
							{% for i in range(x['date']|count) %}
								<tr>
									<td>{{ x['date'][i] }}</td>
									<td>{{ x['issue'][i] }}</td>
									<td>{{ x['status'][i] }}</td>
								</tr>
							{% endfor %}
							</tbody>
					</table>
		</div>

		<footer>
			&copy; 2016 Team84
		</footer>


		<script type="text/javascript">
        function move(){
            document.getElementById('notice').className ='notice-close';
        }
		</script>
		<script src="/static/sorttable.js"></script>

  </body>
</html>
