<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">
	<style>
		footer {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	</style>

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
		<div id="acpage-container">
			<div id = "ac">
			<nav id= "ac-header">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/s_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li class="active">
							<a href="/notifpreferences/{{email}}">Settings</a>
						</li>
                    </ul>
			</nav>
			</div>
				<div id="account-bar">
					<div id="name">			
					{{ first }} {{ last }}
					</div>
					
					<div id="profile">
					{{ email }} <a href="/">Log out</a>	
					</div>
				</div>
		<h3>Settings</h3><br>
		<div id="login_form">
			<div class="title">Please select which notiications you would like to receive.</div>
				<div>
				<form name="f1" id="f1" method="post" action="">
						<input type="hidden" name="h" id="h" value="">
						<input type="checkbox" name="checkbox" id="checkbox_id" value="h" {% if h %}checked{% endif %}>
						<label for="checkbox_id"> Health & Safety Rules </label>
						<br>
						<input type="hidden" name="p" id="p" value="">
						<input type="checkbox" name="checkbox" id="checkbox2_id" value="p" {% if p %}checked{% endif %}>
						<label for="checkbox2_id"> Parking/Permit Rules </label>
						<br>
						<input type="submit" value="Save" onclick="save()">
				</form>
				</div>
		</div>
			{% if success %}
			<div id="popup-overlay" class="popup-overlay">
				<div id="popup-box" class="popup-box-open">
					Save successfully!!
					<br>
					<div id="popup-button" class="popup-button">OK</div>				
				</div>
			</div>
			{% endif %}
		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
		<script>
			function save(){
				if (document.getElementById("checkbox_id").checked == true) {
					document.getElementById("h").value = "h";
				}
				else {
					document.getElementById("h").value = "n";
				}
				if (document.getElementById("checkbox2_id").checked == true) {
					document.getElementById("p").value = "p";
				}
				else {
					document.getElementById("p").value = "n";
				}
			}
		
			document.getElementById("popup-button").onclick = function() {close()};
			function close(){
				document.getElementById('popup-box').className ='popup-box-close';
				document.getElementById('popup-overlay').className ='popup-overlay-close';
			};
		</script>
	</body>
</html>
