<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">
		<style>
			footer {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>

	    <div id="acpage-container">
			<div id = "ac">
			<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/hs_main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/hs_permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/hs_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
							<a href="/report_violations/{{email}}">Violation</a>
						</li>
						<li class="active">
							<a href="/notification/{{email}}">Notification</a>
						</li>
					</ul>
			</nav>
		</div>
		<div id="account-bar">
			<div id="name">
			{{ first }} {{ last }}
			</div>

			<div id="profile">
			{{ email }} <a href="/">Log out</a>
			</div>
		</div>
		<div class="main">
			<div class="title"><h3>Post a Notification</h3><br></div>
			<form method="post" action="" id="f1">
				<table>
					<tr>
						<td>Title:</td>
						<td><input class="textbox" type="text" name="title" maxlength="50" required></td>
					</tr>
					<tr>
						<td>Type:</td>
						<td><input type="radio" name="type" value="h" checked />Health and Safety Rules
							<input type="radio" name="type" value="p" />Parking Rules</td>
					</tr>
					<tr>
						<td>Content:</td>
						<td><input type="hidden" name="date" id="date">
							<textarea rows="5" cols="60" name="message" maxlength="250" required></textarea>
						</td>
					</tr>
				</table>
				<input type="submit" value="Post">
			</form>

		{% if success %}
			<div id="popup-overlay" class="popup-overlay">
				<div id="popup-box" class="popup-box-open">
					Notification posted successfully!!
					<br>
					<div id="popup-button" class="popup-button">OK</div>
				</div>
			</div>
		{% endif %}

		</div>

		<footer>
		&copy; 2016 Team84
		</footer>

		<script>
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();

			if(dd<10){
				dd='0'+dd
			}
			if(mm<10){
				mm='0'+mm
			}

			today = yyyy+'-'+mm+'-'+dd;

			document.getElementById('date').value = today;

			document.getElementById("popup-button").onclick = function() {close()};
			function close(){
				document.getElementById('popup-box').className ='popup-box-close';
				document.getElementById('popup-overlay').className ='popup-overlay-close';
			};
		</script>
	</body>
</html>
