<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id = "ac">
		<nav id=ac-header>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/main/{{email}}">Account</a>
					</li>
					<li>
						<a href="/permit_overview/{{email}}">Parking Permit</a>
					</li>
					<li>
						<a href="/s_health_safety_rules/{{email}}">Health and Safety Information</a>
					</li>
					<li>
						<a href="/notifpreferences/{{email}}">Settings</a>
					</li>
				</ul>
		</nav>
	</div>
	<div id="account-bar">
		<div id="name">
		{{ first }} {{ last }}
		</div>

		<div id="profile">
		{{ email }} <a href="/">Log out</a>
		</div>
	</div>
			<form name="f1" method="post" id="f1">

						<table>
							<tr>
								<td>First Name :</td>
								<td><input type="text" id="firstname" name="firstname" value="{{first}}" disabled/ />
								</td>
							</tr>

							<tr>
								<td>Last Name :</td>
								<td><input type="text" id="lastname" name="lastname" value="{{last}}" disabled/>
								</td>
							</tr>

							<tr>
								<td>Email :</td>
								<td><input type="email" id="email" name="email" value="{{email}}"  disabled/>
								</td>
							</tr>

							<tr>
								<td>Permit Number :</td>
								<td><input type="text" name="number" value="{{number}}" disabled />
								</td>
							</tr>

							<tr>
								<td>Enter Amount Due :</td>
								<td><input type="text" name="amount" value="{{amount}}" disabled />
								</td>
							</tr>

							<tr>
								<td><b>Credit Card</b></td>
							</tr>

							<tr>
								<td>Name On Card :</td>
								<td><input type="text" name="name" value="" pattern="[A-Za-z][A-Za-z ]*[A-Za-z]" oninvalid="setCustomValidity('Minimum length is 2 a-z A-Z characters. No space at the front/end.')" oninput="setCustomValidity('')" title="Minimum length is 2 a-z A-Z characters. No space at the front/end." required />
								</td>
							</tr>

							<tr>
								<td>Card Number :</td>
								<td><input type="text" name="cardnum" value="" maxlength="16" pattern="\d{16}" oninvalid="setCustomValidity('Please enter exactly 16 digits.')" oninput="setCustomValidity('')" title="Please enter exactly 16 digits."  required />
								</td>
							</tr>

							<tr>
								<td>Expiry Month Year :</td>
								<td><input type="month" name="monthyear" value="2016-01" max="2027-01" min="2016-01" required />
								</td>
							</tr>

							<tr>
								<td>CCV :</td>
								<td><input type="text" name="ccv" value="" maxlength="3" pattern="\d{3}" oninvalid="setCustomValidity('Please enter exactly 3 digits.')" oninput="setCustomValidity('')" title="Please enter exactly 3 digits." required />
								</td>
							</tr>

						</table>
						<input type="image" src="/static/Paynow.png" name="submit" alt="Make payments with PayPal - it's fast, free and secure!"  style="margin-left: 150px; margin-top: 10px;">
			</form>


  </body>


		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>
