<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type= "text/css" href="/static/style.css">

    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
		<header>
			<img src="/static/logo.png" alt="logo">
		</header>

    <div id="acpage-container">

			<div id = "ac">
			<nav id= "ac-header">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/main/{{email}}">Account</a>
						</li>
						<li class="active">
							<a href="/permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/s_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li>
							<a href="/notifpreferences/{{email}}">Settings</a>
						</li>
                    </ul>
			</nav>
				<div id="account-bar">
					<div id="name">
					{{ first }} {{ last }}
					</div>

					<div id="profile">
					{{ email }} <a href="/">Log out</a>
					</div>
				</div>
            <table id="ac-table" class="sortable">
                    <h3>Permit Permit Overview</h3><br>
					<thead>
                    <tr>
                        <th id="permit" class>Permit</th>
                        <th id="date" class>Start Date</th>
                        <th id="date" class>End Date</th>
                        <th id="type" class>Vehicle Type</th>
                        <th id="duration" class>Duration</th>
						<th id="status" class>Status</th>
						<th id="payment" class>Payment</th>
                    </tr>
					</thead>
					<tbody>
						{% if pay %}
							{% for i in range(x['number_l']|count) %}
								<tr>
									<td>{{ x['number_l'][i] }}</td>
									<td>{{ x['start_l'][i] }}</td>
									<td>{{ x['end_l'][i] }}</td>
									<td>{{ x['type_l'][i] }}</td>
									<td>{{ x['duration_l'][i] }}</td>
									<td>{{ x['status_l'][i] }}</td>
									<td>
										{% if x['pay_l'][i] != "" %}
										<a class="payment" href="/payment/{{email}}/{{ x['number_l'][i] }}">{{ x['pay_l'][i] }}</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endif %}
						{% if pay =='' %}
							{% for i in range(x['number_l']|count) %}
								<tr>
									<td>{{ x['number_l'][i] }}</td>
									<td>{{ x['start_l'][i] }}</td>
									<td>{{ x['end_l'][i] }}</td>
									<td>{{ x['type_l'][i] }}</td>
									<td>{{ x['duration_l'][i] }}</td>
									<td>{{ x['status_l'][i] }}</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
            </table>

            <ul id="apply_button"><li><a href="/permit_apply/{{email}}">Apply for a permit</a></li></ul>
    </div>

		<footer>
			&copy; 2016 Team84
		</footer>
		<script src="/static/sorttable.js"></script>
  </body>
</html>
