<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
		<div id="acpage-container">
		<div id = "ac">
        <nav id="ac-header">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
					<li>
						<a href="/main/{{email}}">Account</a>
					</li>
                    <li>
                        <a href="/permit_overview/{{email}}">Parking Permit</a>
                    </li>
                    <li>
                        <a href="/s_health_safety_rules/{{email}}">Health and Safety Information</a>
                    </li>
                    <li>
                        <a href="/notifpreferences/{{email}}">Settings</a>
                    </li>
                </ul>
        </nav>

		<div id="account-bar">
					<div id="name">
					{{ first }} {{ last }}
					</div>

					<div id="profile">
					{{ email }} <a href="/">Log out</a>
					</div>
		</div>
		<p>Please complete the below form from to apply for a parking permit:</p>

		<div id="permit">
			<div class="title">Apply for a permit</div>

				<form name="f1" method="post" action="" id="f1" >

							<table>
							<tr>
								<td class="f1_label">First Name :</td>
								<td>
									<input type="text" id="firstname" name="firstname" value="{{first}}" disabled/ />
								</td>
							</tr>

							<tr>
								<td class="f1_label">Last Name :</td>
								<td>
									<input type="text" id="lastname" name="lastname" value="{{last}}" disabled/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Email :</td>
								<td>
									<input type="email" id="email" name="email" value="{{email}}"  disabled/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Duration :</td>
								<td>
									<input type="radio" name="duration" value="y" checked />Yearly
									<input type="radio" name="duration" value="m" />Monthly
								</td>
							</tr>

							<tr>
								<td class="f1_label">Vehicle Type :</td>
								<td>
									<input type="radio" name="type" value="2" checked />Two Wheeler
									<input type="radio" name="type" value="4" />Four Wheeler
									<input type="radio" name="type" value="o" />other
								</td>
							</tr>

							<tr>
								<td class="f1_label">Department :</td>
								<td>
									<input id="department" type="hidden" name="department" value="Creative Industries">
									<select id="department_select" required>
										<option value="" disabled selected>Please choose...</option>
										<option value="Creative Industries">Creative Industries</option>
										<option value="Health">Health</option>
										<option value="Science/Engineering">Science/Engineering</option>
										<option value="Education">Education</option>
										<option value="Law">Law</option>
										<option value="Business">Business</option>
									</select>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Permit Start Date :</td>
								<td>
									<input id="start" type="date" name="start" value="" max="2046-01-01" min="" onclick="datecheck()" oninput="datecheck()"/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Permit End Date :</td>
								<td>
									<input id="end" type="date" name="end" value="" max="2046-01-01" min="" onclick="datecheck()" oninput="datecheck()"/>
								</td>
							</tr>

							<tr>
								<td>
									<input type="submit" name="submit" value="Submit" onclick="return check()"/>
								</td>
								<td>
									<a href="/permit_overview/{{email}}"><button type="button">Back</button></a>
								</td>
							</tr>
							</table>

				</form>

				{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

		</div>
		</div>
		</div>
		<script>

		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1;
		var yyyy = today.getFullYear();

		if(dd<10){
			dd='0'+dd
		}
		if(mm<10){
			mm='0'+mm
		}

		today = yyyy+'-'+mm+'-'+dd;

		document.getElementById('start').valueAsDate = new Date();
		document.getElementById('end').valueAsDate = new Date();

		document.getElementById('start').setAttribute("min", today);
		document.getElementById('end').setAttribute("min", today);

		function datecheck()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;
			document.getElementById('start').setAttribute("max", end);
			document.getElementById('end').setAttribute("min", start);
		}

		function end()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;
			document.getElementById('start').setAttribute("max", end);
			document.getElementById('end').setAttribute("min", start);
		}

		function check()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;





		}



		function compare(sDate, eDate)
		{

			function parseDate(input) {
				var parts = input.match(/(\d+)/g);

				return new Date(parts[2], parts[0]-1, parts[1]);
			}
		var parse_sDate = parseDate(sDate);
		var parse_eDate = parseDate(eDate);

		if(parse_eDate < parse_sDate){
			return false;
		}
		return true;
		}


		</script>


		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>
