<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">
		<style type="text/css">
        
		</style>
		


	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id="big_container">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active">
					<a href="/permit">Apply for a permit</a>
				</li>
				<li>
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>
		<div id="permitted">
			<div class="title">Congratulation</div>  
					<table>	
							<input id="select" type="hidden" name="select" value="">		
							<tr>
								<td class="f1_label">First Name :</td>
								<td>
									{{ first }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Last Name :</td>
								<td>
									{{ last }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Email :</td>
								<td>
									{{ email }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Duration :</td>
								<td>
									{{ duration }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Vehicle Type :</td>
								<td>
									{{ type }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Department :</td>
								<td>
									{{ department }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit Start Date :</td>
								<td>
									{{ start }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit End Date :</td>
								<td>
									{{ end }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit Number :</td>
								<td>
									{{ number }}
								</td>
							</tr>
							
							<tr>
								<td>
									<form method="post" action="">
										<input type="submit" name="submit" value="Sending details by email"  />
									</form>
								</td>
							</tr>
														
					</table>
					{% if success %}
					<p class="success"><strong>{{ success }}</strong> </p>
					{% endif %}
							<br>
							<p><b>Parking rules and fines</b></p>

								<div
	style="
		height:500px;
		width:700px;
		font:16px/26px Georgia, Garamond, Serif;
		overflow:auto;
		background-color:rgba(0, 0, 0, 0.75);
		border-radius: 15px;
		padding-top: 15px;
		" id="rules">

		<p style="font-family:'Helvetica'"> 
		Atmiya College provides parking on campus with the need to:
		</p>
		
		<table border=1px bordercolor="gray">
			<tr><td><p style="font-family:'Helvetica'"> 
			Ensure there are parking areas for the benefit of employees, students and visitors of the College;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Minimise travel inconveniences for the aforementioned users;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'"> 
			Allow the College to police and prevent misuse of these areas; and to
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'"> 
			Ensure there is an efficient and effective system for parking permit applications
			</p></td></tr>
		</table>
		
		<p style="font-family:'Helvetica'"> 
		The administration of this parking scheme is the responsibility of the health and safety department. 
		</p>

		<!-- NEED TO PUT UNORDERED LIST HERE -- STRUGGLING BECAUSE OF NAVIGATION -->
		
		
		

		<h3 style="font-family:Helvetica"> Parking Permits </h3>
		
		<p style="font-family:'Helvetica'"> 
		Atmiya College requires that anyone parking on campus has an approved parking permit. 
		</p>
		
		<table border=1px bordercolor="gray">
			<tr><td><p style="font-family:'Helvetica'">
			This also applies for visitors;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Permits can only be used for the days they are applicable i.e. hourly, daily, monthly or yearly basis; 
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Permits need to be affixed in the lower corner of the windshield on the driver side (four wheelers) and on the front of the vehicle (two wheelers). Otherwise it will be assumed that the vehicle has no permit and relevant violations will be applied. 
			</p></td></tr>

			
		</table>
		
		
		<h3 style="font-family:Helvetica"> Infringements </h3>
		
		<p style="font-family:'Helvetica'">
		In order to ensure the fair and equitable use of parking at the College, parking regulations are enforced and violations apply for breaches. Overdue violations can result in additional fines. Payment of infringements can be made through the Atmiya College website. 
		</p>
		<br>
		<p style="font-family:'Helvetica'">
		Tips for ensuring that you do not receive a violation include, but are not limited to:
		</p>
		
		<table border=1px bordercolor="gray">			
			<tr><td><p style="font-family:'Helvetica'">
			Only park within marked parking bays;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Do not park in other areas that do not have parking bays, particularly grassed or dirt areas;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Do not park anywhere not set aside for parking, even if ‘you will only be five minutes’;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Do not park somewhere because ‘you have always parked there’ or because ‘a friend said it was okay to park there;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Do not leave notes on the dashboard, if you have breach the traffic regulations, patrol officers are required to issue you with an infringement regardless of what you may have written on the note;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Read and follow all regulatory signage;
			</p></td></tr>
			
			<tr><td><p style="font-family:'Helvetica'">
			Before leaving your vehicle, ensure that your parking permit is clearly visible from the outside of your vehicle in the correct position.
			</p></td></tr>
			
		</table>

		<h3 style="font-family:Helvetica"> List of Offences </h3>
		
		<p style="font-family:'Helvetica'">
		There are a number of reasons why you may receive a parking violation. If a violation is issued to you it will be for one of the following reasons. Each reason has a corresponding citation as seen below and this citation will be shown on your violation. Please call the health and safety department if you have any problems regarding your violation. 
		</p>
		
		<!-- NEED TO INSERT TABLE -->
		<table border=1px bordercolor="gray">
			<tr>
			<th>Parking Violation Reason</th>
			<th>Corresponding Citation Number</th>
			</tr>
			<tr>
			<td>Failing to display a valid parking permit:
		-	Parking permit must be displayed correctly
		-	Parking permit must be valid for Atmiya College
		-	The permit must not be defaced, altered or reproduced </td>
			<td>P01</td>
			</tr>
			<tr>
			<td>Parking in an area not set aside as a parking area</td>
			<td>P02</td>
			</tr>
			</tr>
			<tr>
			<td>Parking outside the dates agreed on the parking permit</td>
			<td>P03</td>
			</tr>
			</tr>
			<tr>
			<td>Parking against a yellow kerbside or roadway marking or no standing/parking sign</td>
			<td>P04</td>
			</tr>
			</tr>
			<tr>
			<td>Parking in a restricted area</td>
			<td>P05</td>
			</tr>
			</tr>
			<tr>
			<td>Failing to obey direction of a traffic officer or other authorised person</td>
			<td>P06</td>
			</tr>
			<tr>
			<td>Obstructing emergency vehicle access or traffic flow</td>
			<td>P07</td>
			</tr>
			<tr>
			<td>Driving or parking in a direction contrary to that permitted</td>
			<td>P08</td>
			</tr>
			<tr>
			<td>Failing to obey a traffic control device i.e. speeding sign, stop sign, witches’ hats and boom gates</td>
			<td>P09</td>
			</tr>
			<tr>
			<td>Driving in an area not constructed as road, carriage way or parking area i.e. grassed area</td>
			<td>P10</td>
			</tr>
		
		</table>
		
		<h3 style="font-family:Helvetica"> Visitors </h3>
		
		<p style="font-family:'Helvetica'">
		To request visitor parking, authorised staff are required to complete and submit the online visitor parking request form, available on the Atmiya College parking website. Once completed, the health and safety department will allocate a parking permit for the visitor. This permit will note the department that applied for the visitors permit and this should reflect the activities they will be undertaking when on campus.
		</p>
		
		<h3 style="font-family:Helvetica"> Permit Refunds </h3>
		
		<p style="font-family:'Helvetica'">
		The College understand that personal circumstances may change over time. In situations such as change of employment or illness, a pro-rate refund is available. Refunds are calculated from when the health and safety department receives the returned parking permit. In other cases, refunds are at the discretion of the health and safety department and refunds may not be available. If you are unsure about a long term permit, there is the option for monthly permits which may suit your individual needs better. 
		</p>
	
	</div>

										<a href="/visitor" style="margin-left:280px;"><button type="button">Back to visitor page</button></a>


		</div>
		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>