<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">
		<style>
			.permit_status td{
				padding: 5px;
				background-color: rgba(197, 215, 249, 0.5);
			}
		
		</style>
		


	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id="big_container">
	<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/permit">Apply for a permit</a>
				</li>
				<li class="active">
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>
		<div id="permitted">
			<div class="title">Permit Status</div>  
					<table class="permit_status">			
							<tr>
								<td class="f1_label">First Name :</td>
								<td>
									{{ first }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Last Name :</td>
								<td>
									{{ last }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Email :</td>
								<td>
									{{ email }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Duration :</td>
								<td>
									{{ duration }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Vehicle Type :</td>
								<td>
									{{ type }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Department :</td>
								<td>
									{{ department }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit Start Date :</td>
								<td>
									{{ start }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit End Date :</td>
								<td>
									{{ end }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Permit Number :</td>
								<td>
									{{ number }}
								</td>
							</tr>
							
							<tr>
								<td class="f1_label">Status :</td>
								<td>
									{{ approve }} {% if pay %}<a href="/v_payment/{{number}}">Payment</a>{% endif %}
								</td>
							</tr>
							
							
					</table>
					<table>

						<tr>
							<td>
								<a href="/visitor"><button type="button">Back to visitor page</button></a>
							</td>
						</tr>
					</table>
		</div>
		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>