<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="static/style.css">

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id="big_container">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active">
					<a href="/permit">Apply for a permit</a>
				</li>
				<li>
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>

		<div id="permit">
			<div class="title"><h3>Apply for a permit</h3><br></div>

				<form name="f1" method="post" action="" id="f1" >

							<table>
							<tr>
								<td class="f1_label">First Name :</td>
								<td>
									<input type="text" id="firstname" name="firstname" pattern="[A-Za-z][A-Za-z ]*[A-Za-z]" oninvalid="setCustomValidity('Minimum length is 2 a-z A-Z characters. No space at the front/end.')" oninput="setCustomValidity('')" title="Minimum length is 2 a-z A-Z characters. No space at the front/end." required/ />
								</td>
							</tr>

							<tr>
								<td class="f1_label">Last Name :</td>
								<td>
									<input type="text" id="lastname" name="lastname" pattern="[A-Za-z][A-Za-z ]*[A-Za-z]" oninvalid="setCustomValidity('Minimum length is 2 a-z A-Z characters. No space at the front/end.')" oninput="setCustomValidity('')" title="Minimum length is 2 a-z A-Z characters. No space at the front/end." required/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Email :</td>
								<td>
									<input type="email" id="email" name="email" value=""  required/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Duration :</td>
								<td>
									<input type="radio" name="duration" value="y" checked />Yearly
									<input type="radio" name="duration" value="m" />Monthly
									<input type="radio" name="duration" value="d" />Daily
									<input type="radio" name="duration" value="h" />Hourly
								</td>
							</tr>

							<tr>
								<td class="f1_label">Vehicle Type :</td>
								<td>
									<input type="radio" name="type" value="2" checked />Two Wheeler
									<input type="radio" name="type" value="4" />Four Wheeler
									<input type="radio" name="type" value="o" />other
								</td>
							</tr>

							<tr>
								<td class="f1_label">Department :</td>
								<td>
									<input id="department" type="hidden" name="department" value="Creative Industries">
									<select id="department_select" required>
										<option value="" disabled selected>--Select--</option>
										<option value="Creative Industries">Creative Industries</option>
										<option value="Health">Health</option>
										<option value="Science/Engineering">Science/Engineering</option>
										<option value="Education">Education</option>
										<option value="Law">Law</option>
										<option value="Business">Business</option>
									</select>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Permit Start Date :</td>
								<td>
									<input id="start" type="date" name="start" value="" max="2046-01-01" min="" onclick="datecheck()" oninput="datecheck()"/>
								</td>
							</tr>

							<tr>
								<td class="f1_label">Permit End Date :</td>
								<td>
									<input id="end" type="date" name="end" value="" max="2046-01-01" min="" onclick="datecheck()" oninput="datecheck()"/>
								</td>
							</tr>

							<tr>
								<td>
									<a href="/visitor"><button type="button">Back</button></a>
								</td>
								<td>
									<input type="submit" name="submit" value="Submit" onclick="return check()"/>
								</td>
							</tr>
							</table>

				</form>

				{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

		</div>

		<script>

		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1;
		var yyyy = today.getFullYear();

		if(dd<10){
			dd='0'+dd
		}
		if(mm<10){
			mm='0'+mm
		}

		today = yyyy+'-'+mm+'-'+dd;

		document.getElementById('start').valueAsDate = new Date();
		document.getElementById('end').valueAsDate = new Date();

		document.getElementById('start').setAttribute("min", today);
		document.getElementById('end').setAttribute("min", today);

		function datecheck()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;
			document.getElementById('start').setAttribute("max", end);
			document.getElementById('end').setAttribute("min", start);
		}

		function end()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;
			document.getElementById('start').setAttribute("max", end);
			document.getElementById('end').setAttribute("min", start);
		}

		function check()
		{
			var start = document.getElementById('start').value;
			var end = document.getElementById('end').value;

			document.getElementById('department').value = document.getElementById('department_select').value;



		}



		function compare(sDate, eDate)
		{

			function parseDate(input) {
				var parts = input.match(/(\d+)/g);

				return new Date(parts[2], parts[0]-1, parts[1]);
			}
		var parse_sDate = parseDate(sDate);
		var parse_eDate = parseDate(eDate);

		if(parse_eDate < parse_sDate){
			return false;
		}
		return true;
		}


		</script>

		</div>
		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>
