<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">
		<style>
			footer {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>

	    <div id="acpage-container">
			<div id = "ac">
			<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/hs_main/{{email}}">Account</a>
						</li>
						<li>
							<a href="/hs_permit_overview/{{email}}">Parking Permit</a>
						</li>
						<li>
							<a href="/hs_health_safety_rules/{{email}}">Health and Safety Information</a>
						</li>
						<li class="active">
							<a href="/report_violations/{{email}}">Violation</a>
						</li>
						<li>
							<a href="/notification/{{email}}">Notification</a>
						</li>
					</ul>
			</nav>
		</div>
		<div id="account-bar">
			<div id="name">			
			{{ first }} {{ last }}
			</div>
			
			<div id="profile">
			{{ email }} <a href="/">Log out</a>	
			</div>
		</div>
        
        <div id="area_selection">
        <ul class="tab">
            <li><a href="#" class="tablinks" onclick="openCity(event, 'without_parking')">Vehicles without parking permit</a></li>
            <li><a href="#" class="tablinks" onclick="openCity(event, 'with_parking')">Vehicles with parking permit</a></li>
            <li><a href="#" class="tablinks" onclick="openCity(event, 'smoking')">Smoking violations</a></li>
         </ul>
		 
		 
      
        <div id="with_parking" class="tabcontent">
            <form name="f1" method="post" action="" id="f1" >
            <table>
                <tr>
                    <td class="f1_label">Permit number :</td>
                    <td>
                        <input type="text" name="number" maxlength="9" pattern="\d{9}" oninvalid="setCustomValidity('Please enter exactly 9 digits.')" oninput="setCustomValidity('')" title="Please enter exactly 9 digits." value="" required/>
                    </td>
                </tr>
                <tr>
                    <td class="f1_label">Vehicle license number :</td>
                    <td>
                        <input type="text" name="license" value="" pattern="[0-9]{3}[A-Za-z]{3}" oninvalid="setCustomValidity('e.g. 587fkb')" oninput="setCustomValidity('')" title="e.g. 587fkb" required />
                    </td>
                </tr>
                <tr>
                    <td class="f1_label">Vehicle Type :</td>
                    <td>
                        <input type="radio" name="type" value="2" checked />Two Wheeler
                        <input type="radio" name="type" value="4" />Four Wheeler
                        <input type="radio" name="type" value="o" />other
                    </td>
                </tr>
				<tr>
                    <td class="f1_label">Report Date :</td>
                    <td>
						<input id="date1" type="date" name="date1" value="" />
                    </td>
                </tr>
                </table>
				<div id="violation_selection">
				<input id="problem1" type="hidden" name="problem1" value="P01">
				<select id="problem_select1">				
					<option value="P01">P01  Failure to display a valid parking permit</option>
					<option value="P02">P02  Parking in an area not set aside as a parking area</option>
					<option value="P03">P03  Parking outside the dates agreed on the parking permit</option>
					<option value="P04">P04  Parking against a yellow kerbside or roadway marking or no standing/parking sign</option>
					<option value="P05">P05  Parking in a restricted area</option>
					<option value="P06">P06  Failing to obey direction of a traffic officer or other authorised person</option>
					<option value="P07">P07  Obstructing emergency vehicle access or traffic flow</option>
					<option value="P08">P08  Driving or parking in a direction contrary to that permitted</option>
					<option value="P09">P09  Failing to obey a traffic control device i.e. speeding sign, stop sign, witches’ hats and boom gates</option>
					<option value="P10">P10  Driving in an area not constructed as road, carriage way or parking area i.e. grassed area</option>
				</select>
				</div>
				<input type="hidden" name="issue" value="with">
				<input type="submit" name="submit" value="File violation"  onclick="return check()"/>
            </form>
            
        </div>
      
	  
	  
	  
	  
	  
	  
        <div id="without_parking" class="tabcontent">
            <form name="f1" method="post" action="" id="f1" >
            <table>
                <tr>
                    <td class="f1_label">Vehicle license number :</td>
                    <td>
                        <input type="text" name="license" value="" pattern="[0-9]{3}[A-Za-z]{3}" oninvalid="setCustomValidity('e.g. 587fkb')" oninput="setCustomValidity('')" title="e.g. 587fkb" required />
                    </td>
                </tr>
                <tr>
                    <td class="f1_label">Vehicle Type :</td>
                    <td>
                        <input type="radio" name="type" value="2" checked />Two Wheeler
                        <input type="radio" name="type" value="4" />Four Wheeler
                        <input type="radio" name="type" value="o" />other
                    </td>
                </tr>
				<tr>
                    <td class="f1_label">Report Date :</td>
                    <td>
						<input id="date2" type="date" name="date2" value="" />
                    </td>
                </tr>
            </table>
			<div id="violation_selection">
			<input id="problem2" type="hidden" name="problem2" value="P01">
            <select id="problem_select2">
                <option value="P01">P01  Failure to display a valid parking permit</option>
                <option value="P02">P02  Parking in an area not set aside as a parking area</option>
                <option value="P03">P03  Parking outside the dates agreed on the parking permit</option>
                <option value="P04">P04  Parking against a yellow kerbside or roadway marking or no standing/parking sign</option>
                <option value="P05">P05  Parking in a restricted area</option>
                <option value="P06">P06  Failing to obey direction of a traffic officer or other authorised person</option>
                <option value="P07">P07  Obstructing emergency vehicle access or traffic flow</option>
                <option value="P08">P08  Driving or parking in a direction contrary to that permitted</option>
                <option value="P09">P09  Failing to obey a traffic control device i.e. speeding sign, stop sign, witches’ hats and boom gates</option>
                <option value="P10">P10  Driving in an area not constructed as road, carriage way or parking area i.e. grassed area</option>
            </select>
			</div>
			<input type="hidden" name="issue" value="without">
			<input type="submit" name="submit" value="File violation"  onclick="return check()"/>
            </form>
        </div>
		
		
		
		
		
		
		
		
      
        <div id="smoking" class="tabcontent">
            <form name="f1" method="post" action="" id="f1" >
            <table>
                <tr>
                    <td class="f1_label">Violator name :</td>
                    <td>
                        <input type="text" name="name" pattern="[A-Za-z][A-Za-z ]*[A-Za-z]" oninvalid="setCustomValidity('Minimum length is 2 a-z A-Z characters. No space at the front/end.')" oninput="setCustomValidity('')" title="Minimum length is 2 a-z A-Z characters. No space at the front/end." required/>
                    </td>
                </tr>
                
                <tr>
                    <td class="f1_label">Department :</td>
                    <td>
                        <input id="department" type="hidden" name="department" value="Creative Industries">
                        <select id="department_select">
                            <option value="Creative Industries">Creative Industries</option>
                            <option value="Health">Health</option>
                            <option value="Science/Engineering">Science/Engineering</option>
                            <option value="Education">Education</option>
                            <option value="Law">Law</option>
                            <option value="Business">Business</option>
                        </select>
                    </td>
                </tr>
				<tr>
                    <td class="f1_label">Report Date :</td>
                    <td>
						<input id="date3" type="date" name="date3" value="" />
                    </td>
                </tr>
            </table>
			<div id="violation_selection">
			<input id="problem3" type="hidden" name="problem3" value="S01">
            <select id="problem_select3">
                <option value="S01">S01  Smoking on campus</option>
				<option value="S02">S02  Other violations</option>
            </select>
			</div>
			<input type="hidden" name="issue" value="smoke">
			<input type="submit" name="submit" value="File violation" onclick="return check()"/>
            </form>
        </div>
       
        
        
        
        <script>
			document.getElementById('date1').valueAsDate = new Date();
			document.getElementById('date2').valueAsDate = new Date();
			document.getElementById('date3').valueAsDate = new Date();
		
            function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
        
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
        
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
			
			
            }
			
			function check(){
				document.getElementById('department').value = document.getElementById('department_select').value;
				document.getElementById('problem1').value = document.getElementById('problem_select1').value;
				document.getElementById('problem2').value = document.getElementById('problem_select2').value;
				document.getElementById('problem3').value = document.getElementById('problem_select3').value;
			}
			
        </script>

    
        
        </div>
		<footer>
		&copy; 2016 Team84
	</footer>
	</body>
</html>
