<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/style.css">

	</head>

	<body>
	<header>
		<img src="/static/logo.png" alt="logo">
	</header>
	<div id="big_container">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/permit">Apply for a permit</a>
				</li>
				<li class="active">
					<a href="/check_status">Check permit status or pay for a fine</a>
				</li>
				<li>
					<a href="/parking_rules">General information</a>
				</li>
		</nav>


			<form name="f1" method="post" id="f1"  style="margin-top: 50px;">

						<table>
							<tr>
								<td>First Name :</td>
								<td>{{ first }}
								</td>
							</tr>
							
							<tr>
								<td>Last Name :</td>
								<td>{{ last }}
								</td>
							</tr>
							
							<tr>
								<td>Email :</td>
								<td>{{email}}
								</td>
							</tr>
							
							<tr>
								<td>Permit Number :</td>
								<td>{{number}}
								</td>
							</tr>
							
							<tr>
								<td>Amount Due :</td>
								<td>{{amount}}
								</td>
							</tr>
							
							<tr>
								<td>Invoice Number :</td>
								<td>{{invoice}}
								</td>
							</tr>
							
							<tr>
								<td><b>Credit Card</b></td>
							</tr>
							
							<tr>
								<td>Name On Card :</td>
								<td>{{name}}
								</td>
							</tr>
							
							<tr>
								<td>Card Number :</td>
								<td>{{cardnum}}
								</td>
							</tr>
							
							<tr>
								<td>
									<form method="post" action="">
										<input type="submit" name="submit" value="Sending receipt by email"  />
									</form>
								</td>
							</tr>
							
						</table>

					{% if success %}
					<p class="success"><strong>{{ success }}</strong> </p>
					{% endif %}
			</form>


  </body>


		<footer>
			&copy; 2016 Team84
		</footer>
	</body>
</html>
